


:root{
    --bg-color:white;
    --text-color:#292626;
    --shadow:#7e7e7e40;
    --border-color:#0000002e;
    --primary-color:#ff6464;
    --secondary-color:#01024E;
    --card-shadow:0,0,0;
    // cards
    //muted color
    --text-mute:#6c757d ;
    --code-bg:#d4d4d47d;
    --code-border:  #dee2e6;
    --sidenav-hover-bg:#dedede;
    
}

.dark-theme {
    --bg-color:#292626;
    --text-color:white;
    --shadow:#4000c040;
    --border-color:#ffebeb78;
    --card-shadow:100,100,100;
    --text-mute:#fcfdff8f;
    --code-bg:#3a3a3c;
    --code-border: #dee2e63b;
    --sidenav-hover-bg:#656565;
}

$text-color: color-mod(var(--text-color) );

